[submodule "backend"]
	path = backend
	url = git@github.com:cyborg-s/conduit-backend.git
	branch = containerization
[submodule "frontend"]
	path = frontend
	url = git@github.com:cyborg-s/conduit-frontend.git
	branch = containerization
